#Development Django Settings
DJANGO_SECRET_KEY='cu-0vzh(#ki(y)o59_5i=2e1dv7%m^$_u9qsp#0n7&6$%g5ye2'
DJANGO_ENV='development'

# Development hosts
ALLOWED_HOSTS='localhost,127.0.0.1,prop-ferry-backend,host.docker.internal'

# Development CORS
CORS_ALLOWED_ORIGINS='http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173'

# Development CSRF
CSRF_TRUSTED_ORIGINS='http://localhost:8000,http://127.0.0.1:8000'

#Development Database
POSTGRES_HOST='10.100.10.5'
POSTGRES_PORT='5432'
POSTGRES_USER='prop-ferry-dev'
POSTGRES_PASSWORD='UQw8SrfVc#J9Kj'
POSTGRES_DB='prop-ferry-dev'

#Discord Webhook for Feedback Form
DISCORD_WEBHOOK_URL='https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN'

DUFFEL_ACCESS_TOKEN='duffel_test_your_access_token_here'
# ---------------------------------------------------------
# Caching Configuration (Redis)
# ---------------------------------------------------------
REDIS_URL='redis://prop-ferry-local-redis:6379/1'
