asgiref==3.11.0
beautifulsoup4==4.14.3
build==1.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
django==5.2.10
django-cors-headers==4.9.0
django-prometheus==2.4.1
djangorestframework==3.16.1
idna==3.11
packaging==26.0
pillow==12.1.0
pip-tools==7.5.3
prometheus-client==0.24.1
psycopg[binary]==3.3.2
psycopg-binary==3.3.2
pyproject-hooks==1.2.0
python-dotenv==1.2.1
requests==2.32.5
soupsieve==2.8.3
sqlparse==0.5.5
typing-extensions==4.15.0
urllib3==2.6.3
wheel==0.46.3

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
